.card{
    position: relative;
    cursor :pointer;
    transition: all ease-in-out 300ms;
}
.card:hover{
    transform: scale(1.05);
}


.card .front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
        
}
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    position: absolute;
}
.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}